.rabbit-card {
  background: white;
  border-radius: 18px;
  padding: 20px;

  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);

  margin-bottom: 20px;
}

.rabbit-card {
  display: flex;
  gap: 18px;
}

.rabbit-photo {
  width: 120px;

  object-fit: cover;

  border-radius: 14px;
}

.rabbit-info {
  flex: 1;
}

.rabbit-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 18px;
}

.rabbit-top h2 {
  font-size: 28px;
  color: #2f2f2f;
}

.rabbit-top span {
  color: #ff79a8;
}

.info-item {
  display: flex;
  flex-direction: column;

  margin-bottom: 14px;
}

.info-item span {
  font-size: 14px;
  color: #707070;
}

.info-item strong {
  margin-top: 4px;

  font-size: 18px;
  color: #2f2f2f;
}

.rabbit-info-btn {
  align-self: center;
}
